Slack
awesome
dconf
discord
gtk-3.0
light
mimeapps.list
neofetch
nitrogen
pavucontrol.ini 
pulse
spotify
vlc
yay
Postman
ARCADEDB_HOME
.arcrc
.bash_history
.bash_logout
.cache
.cargo
Downloads
.emacs.d
.gitconfig
.gnupg
.lein
.lesshst
.local/share
wallpapers
workspace
.m2
.mozilla
.npm
.pki
.ssh
.wget-hsts
.Xauthority
# emacs
*.*~
\#*.*
\#*.*\#
.\#*.*\#
.\#*.*
