Slack
awesome
dconf
discord
gtk-3.0
light
mimeapps.list
neofetch
nitrogen
pavucontrol.ini
pulse
spotify
vlc
yay
Postman
ARCADEDB_HOME
.arcrc
.bash_history
.bash_logout
.cache
.cargo
Downloads
.emacs.d
.gitconfig
.gnupg
.lein
.lesshst
.local/share
wallpapers
workspace
.m2
.mozilla
.npm
.pki
.ssh
.wget-hsts
.Xauthority
# emacs
*.*~
\#*.*
\#*.*\#
.\#*.*\#
.\#*.*
cef_user_data
.pulse-cookie
.steam/
.steampath
.steampid
QtProject.conf
flameshot/
Pictures/
nomacs
Thunar
xfce4
chromium
.dmrc
.face
.xsession-errors*
.clojure
.clojure_history
.gitlibs
.openjfx
.reveal
temp/
.config/gtk-2.0/
.gtkrc-2.0
.icons/
.mysql_history
.local/bin/